c:\DMI\devops-micro-internship-pravinmishra\week-06-aws-cloud\ChatGPT Image Aug 12, 2026, 12_14_38 AM.png 
c:\DMI\devops-micro-internship-pravinmishra\week-06-aws-cloud\ChatGPT Image Aug 13, 2026, 10_56_02 AM.png 
c:\DMI\devops-micro-internship-pravinmishra\week-06-aws-cloud\ChatGPT Image Aug 13, 2026, 11_16_12 AM.png 
c:\DMI\devops-micro-internship-pravinmishra\week-06-aws-cloud\ChatGPT Image Aug 13, 2026, 11_19_10 AM.png
 c:\DMI\devops-micro-internship-pravinmishra\week-06-aws-cloud\ChatGPT Image Aug 12, 2026, 02_01_27 PM.png
 C:\DMI\devops-micro-internship-pravinmishra\week-06-aws-cloud\arcitect